<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>

    <body class="container-main">
        <%- include('../partials/headerMain.ejs') %>
            <main class="main">
                <h3>clientes</h3>
                <section class="container-products">
                    <% clients.forEach(client => { %>
                        <article class="articles">
                            <a href="/admin/edit/<%= client.id %>">
                                <picture>
                                    <img src="/img/clients/<%= client.image %>" alt="">
                                </picture>
                                <div class="articles-general">
                                    <strong>
                                        <%= client.client %>
                                    </strong>
                                </div>
                            </a>
                        </article>
                    <% }) %>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>